body {
  background-color: #151515;
}

.board {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  color:green;
}

.board > div {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
}

.change {
  grid-column: 1 / span 3;
  cursor: pointer;
  border-radius: 20px;
  position:relative;
  width: 120px;
  height: 40px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  box-shadow: 0 0 0 4px
  #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
}

.modal {
  width: 200px;
  height: 300px;
  background-color: rgb(131, 52, 52);
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  visibility: hidden;
}

.check {
  border-radius: 20px;
  position:relative;
  width: 120px;
  height: 40px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  box-shadow: 0 0 0 4px
  #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
}

